{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    {% include 'security/menu.html.twig' %}

    <section class="account-section">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger">{{ flash_error }}</div>
        {% endfor %}

        <h1 class="account-title">Compte</h1>

        {% if app.user %}
            <p class="account-info">Connecté en tant que : {{ app.user.username }}</p>
        {% else %}
            <p class="account-info">Vous n’êtes pas connecté.</p>
        {% endif %}

        <form class="account-form">
            {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword, { label: 'Mot de passe :' }) }}

                <div class="form-group">
                    {{ form_label(form.roles) }}
                    {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.roles) }}
                </div>

                <button type="submit" class="form-button">Enregistrer</button>
            {{ form_end(form) }}
        </form>

        {% if is_granted('ROLE_CHAUFFEUR') %}
            <h2 class="account-vehicles-title">Mes véhicules</h2>
            <a href="{{ path('vehicule_index') }}" class="btn btn-secondary account-vehicles-btn">Gérer mes véhicules</a>
        {% endif %}
    </section>
{% endblock %}
